#tablehead {
    display: flex;
    width: 100%;
}

#root {
    width: 100%;
    /* margin: 0 10px 0 10px; */
    overflow: hidden;
}

#tablehead {
    display: flex;
}

#tablehead p {
    width: 10%;
}

#dlt{
    border: 2px solid black;
    height: 24px;
    width: 24px;
    margin: auto;
}

.entry{
    display:flex;
    width: 100%
}

.entry p {
    width: 10%;
}

p {
    width: 100%;
    /* margin: 0 10px 0 10px; */
    overflow: hidden;
}

#label {
    width: 100%;
    margin: 0 10px 0 10px;
}

/* #dob {
    max-width: 125px;
} */